body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    background-color:wheat;
    
    padding: 10px;
    border-radius: 20px;
    text-decoration-color: black;
  }
  
  .hero {
    background-image: url('1708938494841.jpeg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .contact-form {
    margin: 20px auto;
    width: 50%;
  }
  
  .contact-form form {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  
